body {
  font-family: "Brush Script MT", cursive;
  background-color: hsl(120, 50%, 75%);
  color: hsl(300, 100%, 20%);
}

p,
li {
  font-size: 20px;
}

h2 {
  text-decoration: underline;
}

img {
  width: 300px;
  height: auto;
}